<h2>Lista Empleados</h2>
<table id="miTabla" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" buttons>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Emial</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empleado of empleados">
      <td>{{empleado.id}}</td>
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.email}}</td>
      <td>
        <button (click)="actualizarEmpleado(empleado.id)" class="btn btn-info">Editar</button>
        <button (click)="eliminarEmpleado(empleado.id)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
